# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"

DATABASE_HOST="localhost"
DATABASE_USER="usuario"
DATABASE_PASSWORD="senha"
DATABASE_NAME="domusapp"

# Exemplo de chave JWT
JWT_SECRET="D0mU$@pp_S3cr3t_K3y_998877_!@#"